.jumbotron {
    background-color: transparent !important;
    text-align: center;
    color: red;
    font-weight: bold;
}

/* .header {
    text-align: center;
} */

.input {
    margin: 0 auto;
    max-width: 30%;
}

.imgLeft {
    max-height: 10%;
    max-width: 10%;
}

.imgRight {
    float: right;
    max-height: 9%;
    max-width: 9%;
}